build:
  type: text
  content: |-
    #!/bin/sh

    # export IMAGE_TAG=$ROOST_NAMESPACE
    # export PATH=$PATH:/usr/bin:/usr/local/bin
    # make build-ballot

    docker build -f ballot/Dockerfile -t ballot:$GIT_COMMIT_ID ballot 
    docker tag ballot:$GIT_COMMIT_ID  ballot:$ROOST_NAMESPACE  
deploy:
  type: text
  content: |
    #/bin/sh

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    helm upgrade roostsample-helm-vote helm-vote -n $ROOST_NAMESPACE --create-namespace --install $HELM_OPTS
test:
  - name: ballot
    configType: artillery
    configPath: ballot/test/test.yaml
uninstall:
  type: text
  content: |+
    #!/bin/sh

lastUpdatedBy: Harish ZBIO
lastUpdatedOn: 2022-10-18T09:08:57.450Z
